/* CSS code */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(""C:\Users\harsh\OneDrive\Desktop\portfolio website\307749.jpg""); /* Replace 'path/to/your-background-image.jpg' with the correct file path */
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(51, 51, 51, 0.7); /* Dark background with 70% opacity */
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0077B5; /* Same color for both LinkedIn and GitHub */
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #005c91; /* Darker shade for hover effect */
}

.space {
    margin: 0 10px; /* Adjust the margin as needed */
}

.hero {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

section {
    background-color: rgba(255, 255, 255, 0.7); /* Light background with 70% opacity */
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: rgba(51, 51, 51, 0.7); /* Dark background with 70% opacity */
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
        padding: 10px;
    }

    .hero {
        padding: 30px 10px;
    }

    section {
        padding: 10px;
        margin: 10px auto;
        max-width: 90%;
    }
}
